<div class="form-table" style="display: grid;">
  <div
    class="table-responsive "
    style="overflow-y: scroll;max-height: calc(100vh - 165px);min-height: 205px;">
    <table class="table table-hover sticky-table">
      <thead>
        <tr>
          <th
            style="min-width: 100px; display: grid; text-align: center"
            class="time"
          >
            <a
              href="#"
              id="panel-fullscreen"
              role="button"
              title="Toggle fullscreen"
              ><i class="fa fa-expand" style="color: #fff"></i> </a
            ><span>Time</span>
          </th>
          <th style="min-width: 110px" class="text-center">
            Nhiệt độ khói thải
          </th>
          <th style="min-width: 130px" class="text-center">Nhiệt độ nước</th>
          <th style="min-width: 130px" class="text-center">Áp suất hơi</th>
          <th style="min-width: 130px" class="text-center">
            Chân không buồng đốt
          </th>
          <th style="min-width: 130px" class="text-center">Buồng đốt TS1</th>
          <th style="min-width: 130px" class="text-center">Buồng đốt TS2</th>
          <th style="min-width: 130px" class="text-center">Áp suất gió</th>
        </tr>
      </thead>
      <tbody style="background-color: #12504fe3">
        <% getDataChart.forEach(item => { %>
        <tr>
          <td class="text-center">
            <%= moment(item.createdAt).format('DD/MM hh:mm a') %>
          </td>
          <td class="text-center"><%= item.nhietDoKhoiThai %></td>
          <td class="text-center"><%= item.nhietDoNuoc %></td>
          <td class="text-center"><%= item.apSuatHoi %></td>
          <td class="text-center"><%= item.chanKhongBuongDot %></td>
          <td class="text-center"><%= item.buongDot_TS1 %></td>
          <td class="text-center"><%= item.buongDot_TS2 %></td>
          <td class="text-center"><%= item.apSuatGio %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
<script>
    function isMobile(){
	return $(window).innerWidth()<=680;
}

function resizeWindows() {
   if (!isMobile()) {
       $('.full-height').each(function (index, element) {
         
         $(element).height($(window).innerHeight());
         
         $(element).find('article').each(function (index, article) {

           if ($(article).height() + (isMobile ? 0 : 90) > $(element).height())
              $(element).height($(article).height() + (isMobile ? 0 : 90));
              $(article).css('padding-top', ($(window).innerHeight() / 2 - $(article).height() / 2) - 60);
         
          });// end article each condition
         
         });
     
    } //end of if condition
 }//end of function

$(function () {    
   $(window).resize(function () { resizeWindows(); });
   resizeWindows();
}); 
</script>
<script>
  $(document).ready(function () {
    //Toggle fullscreen
    $("#panel-fullscreen").click(function (e) {
      e.preventDefault();

      var $this = $(this);

      if ($this.children("i").hasClass("fa fa-expand")) {
        $this.children("i").removeClass("fa fa-expand");
        $this.children("i").addClass("fa fa-compress");
      } else if ($this.children("i").hasClass("fa fa-compress")) {
        $this.children("i").removeClass("fa fa-compress");
        $this.children("i").addClass("fa fa-expand");
      }
      $(this).closest(".form-table").toggleClass("panel-fullscreen");
    });
  });
</script>
<style>
  .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .table-hover > tbody > tr:hover {
    background-color: #11423778;
  }
  tr:nth-child(odd) {
    background: #09251f52;
  }
  .panel-fullscreen {
    margin: 0 auto;
    display: table;
    z-index: 9999;
    position: fixed;
    width: 85%;
    height: 100%;
    top: 10%;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
  }
  .panel-fullscreen .table-responsive {
    max-height: calc(100vh - 150px) !important;
  }
  .sticky-table tr th {
    position: sticky;
    top: 0;
    z-index: 99;
  }
  .table > tbody > tr > td,
  .table > tbody > tr > th,
  .table > tfoot > tr > td,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > thead > tr > th {
    border-top: 1px solid #dddddd42;
  }
  .glyphicon-resize-full:before {
    content: "\e096";
  }
  .glyphicon-resize-small:before {
    content: "\e097";
  }
</style>
