<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
<div class="form-table">
    <div class="table-responsive" style="max-height: 285px;">
        <table class="table" >
            <thead>
                <tr>
                
                    <th style="min-width: 100px;display: grid;text-align: center;" class="time"> <a id="myBtn" class="dropbtn" style="color:#fff;cursor: pointer;" onclick="tablesToExcelMultiTabs(['export-chart'], ['Scada'], '', 'Excel')">
                        ...
                    </a><span>Time</span></th>
                    <th style="min-width: 110px;">Nhiệt độ khói thải</th>
                    <th style="min-width: 130px;">Nhiệt độ nước</th>
                    <th style="min-width: 130px;">Áp suất hơi</th>
                    <th style="min-width: 130px;">Chân không buồng đốt</th>
                    <th style="min-width: 130px;">Buồng đốt TS1</th>
                    <th style="min-width: 130px;">Buồng đốt TS2</th>
                    <th style="min-width: 130px;">Áp suất gió</th>
                    <th><a href="#" id="panel-fullscreen" role="button" title="Toggle fullscreen"><i class="glyphicon glyphicon-resize-full"></i></th>
                    
                </tr>
            </thead>
            <tbody style="overflow-y: auto;">
                <% getDataChart.forEach(item => { %>
                    <tr >
                  
                        <td><%= moment(item.createdAt).format('DD/MM hh:mm a') %></td>
                        <td class="text-center"><%= item.nhietDoKhoiThai %></td>
                        <td class="text-center"><%= item.nhietDoNuoc %></td>
                        <td class="text-center"><%= item.apSuatHoi %></td>
                        <td class="text-center"><%= item.chanKhongBuongDot %></td>
                        <td class="text-center"><%= item.buongDot_TS1 %></td>
                        <td class="text-center"><%= item.buongDot_TS2 %></td>
                        <td class="text-center"><%= item.apSuatGio %></td>
                        <td class="text-center"></td>
                      </tr>
                <% }) %>
                  
                  
            </tbody>
          </table>
          </div>
</div>
<script>
    $(document).ready(function () {
    //Toggle fullscreen
    $("#panel-fullscreen").click(function (e) {
        e.preventDefault();
        
        var $this = $(this);
    
        if ($this.children('i').hasClass('glyphicon-resize-full'))
        {
            $this.children('i').removeClass('glyphicon-resize-full');
            $this.children('i').addClass('glyphicon-resize-small');
        }
        else if ($this.children('i').hasClass('glyphicon-resize-small'))
        {
            $this.children('i').removeClass('glyphicon-resize-small');
            $this.children('i').addClass('glyphicon-resize-full');
        }
        $(this).closest('.table').toggleClass('panel-fullscreen');
    });
});

</script>
<style>
    .panel-fullscreen {
    display: block;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}
</style>