<section id="content1">
    <div class="row">
    <% alarmQueryAlarm.forEach(item => { %>
      <div style="padding: 0 15px;width: calc(100%/5);float: left;margin-bottom: 15px;">
        <div class="user-account">
            <h3 style="text-align: center;"><%= item.device %></h3>
            <div style="text-align: left;line-height: 30px;" class="detail-grid">

              <% let color; %>
                <% if(item.isDone == true){ %>
                  <% color = '#0109ff82' %>
                <% } else { %>
                  <% color = '#f7000091' %>
                <% } %>

                <p><i class="fa fa-circle" style="font-size: 20px;color:<%= color %>;margin-left: 5px; margin-right: 15px"></i><span><%= item.type %></span></p>
                <p><img src="../images/icons/icon_wise-white/overload.png" style="width: 30px;height: 30px;margin-right: 15px;"><span><%= item.value %></span> </p>
                <p><img src="../images/icons/icon_wise-white/createAt.png" style="width: 30px;height: 30px;margin-right: 15px;"><span><%= moment(item.createdAt).format('DD/MM-hh:mm a') %></span></p>
                <p><img src="../images/icons/icon_wise-white/edit.png" style="width: 30px;height: 30px;margin-right: 15px;"><span><%= moment(item.updatedAt).format('DD/MM-hh:mm a') %></span></p>
                <p><img src="../images/icons/icon_wise-white/users.png" style="width: 30px;height: 30px;margin-right: 15px;"><span><%= item.userId %></span></p>
                <div class="label-border" style="padding:5px;box-shadow: 0 5px 18px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);background-color: #2b6d7b1a"><a href="#"><label><%= item.note %></label></a></div>
                <p></p>
                <div class="action-button" style="text-align:right">
                    <a href="#">
                      <button title="Edit" onclick="document.getElementById('<%= item._id %>').style.display='block'" type="button"  class="btn btn-default btn-edit" style="background-color: #1563518f!important; box-shadow: 0 5px 18px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22)"> <img src="../images/icons/icon_wise-white/edit.png" style="width: 20px;height: 20px;"></button>
                    </a> &nbsp;
                    <a onclick="return ConfirmDelete()" href="/alarm/remove/<%= item._id %>">
                      <button title="Delete" type="button" class="btn btn-default" style="background-color: #1563518f!important; box-shadow: 0 5px 18px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22)">       <img src="../images/icons/icon_wise-white/delete.png" style="width: 22px;height: 22px; "></button>
                    </a>
                </div>
            </div>  
        </div>
    </div>

  <% }) %>
  </div>
  <style>
    .detail-grid p span {
      font-size: 2vmin;
    }
  </style>
  </section>