
<html lang="en">
<head>
    <title>Wise Scada</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style-alarm.css" >
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
</head>
    <%- include('./../navbar/navbar.ejs') %>

<body>
    <div class="content-wrapper" style="margin:0rem 1.5rem">
        <main style="margin-top: 25px;">

            <input id="tab1" type="radio" name="tabs" checked>
            <label for="tab1"><i class="fa fa-chart-bar" style="font-size: 26px;color:#fff"></i></label>
              
            <input id="tab2" type="radio" name="tabs">
            <label for="tab2"><i class="fa fa-table" style="font-size: 26px;color:#fff"></i> </label>
       
          <section id="content1">
            <div class="row">
            <% getDataAlarm.forEach(item => { %>
              <div style="padding: 0 15px;width: calc(100%/5);float: left;margin-bottom: 15px;">
                <div class="user-account">
                    <h3 style="text-align: center;"><%= item.device %></h3>
                    <div style="text-align: left;line-height: 30px;" class="detail-grid">

                        <p><i class="fa fa-circle" style="font-size: 24px;color:red;margin-right: 15px;"></i><span><%= item.type %></span></p>
                        <p><img src="../images/icons/icon_wise-white/overload.png" style="width: 30px;height: 30px;margin-right: 15px;"><span><%= item.value %></span> </p>
                        <p><img src="../images/icons/icon_wise-white/createAt.png" style="width: 30px;height: 30px;margin-right: 15px;"><span><%= moment(item.createdAt).format('DD/MM-hh:mm a') %></span></p>
                        <p><img src="../images/icons/icon_wise-white/edit.png" style="width: 30px;height: 30px;margin-right: 15px;"><span><%= moment(item.updatedAt).format('DD/MM-hh:mm a') %></span></p>
                        <p><img src="../images/icons/icon_wise-white/users.png" style="width: 30px;height: 30px;margin-right: 15px;"><span><%= item.userId %></span></p>
                        <div class="label-border" style="padding:5px;box-shadow: 0 5px 18px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);background-color: #2b6d7b1a"><a href="#"><label><%= item.note %></label></a></div>
                        <p></p>
                        <div class="action-button" style="text-align:right">
                            <a href="#">
                    
                              <button title="Edit" onclick="document.getElementById('<%= item._id %>').style.display='block'" type="button"  class="btn btn-default btn-edit" style="background-color: #1563518f!important; box-shadow: 0 5px 18px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22)"> <img src="../images/icons/icon_wise-white/edit.png" style="width: 20px;height: 20px;"></button>

                              </a> &nbsp;
                              <a onclick="return ConfirmDelete()" href="/alarm/remove/<%= item._id %>">
                            <button title="Delete" type="button" class="btn btn-default" style="background-color: #1563518f!important; box-shadow: 0 5px 18px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22)">       <img src="../images/icons/icon_wise-white/delete.png" style="width: 22px;height: 22px; "></button>
                                </a>
                          </div>
                    </div>
                  
                    
                </div>
            </div>
    
        <!-- Start Modal -->
        <div id="<%= item._id %>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="customModalLabel" aria-hidden="true" >
            <div class="modal-backdrop fade " style="opacity: 0.6;"></div> 
            <div class="modal-dialog" style="z-index: 1111;top:10%;">
              <form class="modal-content" action="/alarm/edit/<%= item._id %>"  method="post">
                  <div class="modal-header" style="display:flex;justify-content:center">
                    <h3 class="modal-title" style="width: 100%;text-align: center;color:#fff">
                        <i class="fa fa-user" style="margin-right:5px"></i>
                        <%= item.device %>
                      </h3>
                      <button type="button" onclick="document.getElementById('<%= item._id %>').style.display='none'" class="close" title="Close Modal" style="color:white;opacity: 1;">
                          <img  src="../images/icons/icon_wise-white/close.png" width="25">
                      </button>
                   
             
                  </div>
                  <div class="modal-body">
                    <div class="form-grid-title" style="color:white;">
                     
                      <div class="detail-grid">
               
                        <p><i class="fa fa-circle" style="font-size: 24px;color:red;margin-right: 15px;"></i><span><%= item.type %></span></p>
                        <p><img src="../images/icons/icon_wise-white/overload.png" style="width: 30px;height: 30px;margin-right: 15px;"><span><%= item.value %></span></p>
                        <p><img src="../images/icons/icon_wise-white/createAt.png" style="width: 30px;height: 30px;margin-right: 15px;">  <span><%= moment(item.createdAt).format('DD/MM-hh:mm a') %></span></p>
                        <p><img src="../images/icons/icon_wise-white/edit.png" style="width: 30px;height: 30px;margin-right: 15px;"> <span><%= moment(item.updatedAt).format('DD/MM-hh:mm a') %></span></p>
                        <p><img src="../images/icons/icon_wise-white/users.png" style="width: 30px;height: 30px;margin-right: 15px;"> <span><%= item.userId %></span></p>
                        <p>
                          <a href = "#"><div class="label-border" ><textarea name="note" type="text" rows="2" style="box-shadow: 0 5px 18px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22) !important;width:100%;color: #000;outline: none; background-color: transparent; border: none;font-size: 18px;color: white;"><%= item.note %></textarea></div></a>
                        </p>
  
                        <div class="modal-footer col-md-12" style="text-align: center;">
                          
                          <button type="submit" class="wise_btn wise_btn-action"><img src="../images/icons/icon_wise-white/save1.png" width="25px">Save</button>
                        </div>
                  
                      
                      </div>
                  </div>
                  </div>
             </form>
              </div>
          </div>

          <div id="test" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="customModalLabel" aria-hidden="true" >
            <div class="modal-backdrop fade " style="opacity: 0.6;"></div> 
            <div class="modal-dialog" style="z-index: 1111;">
              <form class="modal-content"  method="post">
                  <div class="modal-header" style="display:flex;justify-content:center">
                    <h3 class="modal-title" style="width: 100%;text-align: center;color:#fff">
                        <i class="fa fa-user" style="margin-right:5px"></i>
                        <%= item.device %>
                      </h3>
                      <button type="button" onclick="document.getElementById('<%= item._id %>').style.display='none'" class="close" title="Close Modal" style="color:white;opacity: 1;">
                          <img  src="../images/icons/icon_wise-white/close.png" width="25">
                      </button>
                   
             
                  </div>
                  <div class="modal-body">
                    <div class="form-grid-title" style="color:white;">
                     
                      <div class="detail-grid">
               
                        <p><i class="fa fa-circle" style="color:#fff"></i><label><%= item.type %></label></p>
                        <p><img src="../images/icons/icon_wise-white/overload.png" style="width: 25px;height: 25px;margin-right: 5px;"><%= item.value %></p>
                        <p><img src="../images/icons/icon_wise-white/createAt.png" style="width: 25px;height: 25px;margin-right: 5px;">  <span><%= moment(item.createdAt).format('DD/MM-hh:mm a') %></span></p>
                        <p><img src="../images/icons/icon_wise-white/edit.png" style="width: 25px;height: 25px;margin-right: 5px;"> <span><%= moment(item.updatedAt).format('DD/MM-hh:mm a') %></span></p>
                        <p><img src="../images/icons/icon_wise-white/users.png" style="width: 25px;height: 25px;"> <span><%= item.userId %></span></p>
                        <p>
                          <a href = "#"><div class="label-border" ><textarea name="Note" type="text" rows="2" style="box-shadow: 0 5px 18px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22) !important;width:100%;color: #000;outline: none; background-color: transparent; border: none;font-size: 18px;color: white;"><%= item.note %></textarea></div></a>
                        </p>
  
                        <div class="col-md-12" style="text-align: center;">
                          <button type="submit" class="btn btn-default" style="background-color: #72A95E;color: white;font-size: 18px;"><i class="fa fa-save" style="margin-right:5px;font-size: 18px;"></i>Save</button>
                        </div>
                  
                      
                      </div>
                  </div>
                  </div>
             </form>
              </div>
          </div>
          <!-- End Modal -->
          <% }) %>
          </div>
          </section>

          <section id="content2">
              <div class="table-responsive">
                

                
                  <table class="table">
                    <thead>
                        <tr>
                            <th style="min-width: 50px;">STT</th>
                            <th style="min-width: 80px;">Alarm</th>
                            <th style="min-width: 130px;">Type</th>
                            <th style="min-width: 130px;">Value</th>
                            <th style="min-width: 80px;">Created At</th>
                            <th style="min-width: 80px;">Updated At</th>
                            <th style="min-width: 80px;">User Updated</th>
                            <th style="min-width: 80px;">Note</th>
                            <th style="min-width: 130px;">Action</th>
                          
                        </tr>
                    </thead>
                    <% for(let item = 0; item < getDataAlarm.length; item ++) { %>
                      <tbody style="overflow-y: auto;">

                                <tr >
                                <td align="center"><%= item +1 %></td>
                                <td><%= getDataAlarm[item].device %></td>
                                <td><%= getDataAlarm[item].type %></td>
                                <td><%= getDataAlarm[item].value %></td>
                                <td><%= moment(getDataAlarm[item].createdAt).format('DD/MM-hh:mm a') %></td>
                                <td><%= moment(getDataAlarm[item].updatedAt).format('DD/MM-hh:mm a') %></td>
                                <td><%= getDataAlarm[item].userId %></td>
                                <td><%= getDataAlarm[item].note %></td>
                                <td>Action</td>
                                </tr>
                                
                        </tbody>
                      <% } %>
                    </table>
                  
              </div>
          </section>
    
        </main>
    </div>

<!-- Start Pages -->

<!-- End Pages -->

</body>

</html>
<script>
  function ConfirmDelete()
{
  var x = confirm("Are you sure you want to delete?");
  if (x)
      return true;
  else
    return false;
}
</script>
