<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wise Scada</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="images/logo_favicon/favicon-trungquandev.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>
</head>
<!-- include('navbar'); -->

<%- include('./../navbar/navbar.ejs') %>
<body>
    <div class="chart-query">
        <div class="form-chart-data">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-table">
                            <div class="table-responsive" style="max-height: 400px;">
                                <table class="table" >
                                    <thead>
                                        <tr>
                                            <th style="min-width: 80px;">Time</th>
                                            <th style="min-width: 130px;">Nhiệt độ khói thải (*C)</th>
                                            <th style="min-width: 130px;">Nhiệt độ nước (*C)</th>
                                            <th style="min-width: 80px;">Áp suất hơi (*C)</th>
                                            <th style="min-width: 80px;">Chân không buồng đốt (*C)</th>
                                            <th style="min-width: 80px;">Buồng đốt TS1 (*C)</th>
                                            <th style="min-width: 80px;">Buồng đốt TS2 (*C)</th>
                                            <th style="min-width: 130px;">Áp suất gió (*C)</th>
                                          
                                        </tr>
                                    </thead>
                                    <tbody style="overflow-y: auto;">
                                        <% getDataChart.forEach(item => { %>
                                            <tr >
                                                <td><%= moment(item.createdAt).format('DD/MM hh:mm a') %></td>
                                                <td class="text-center"><%= item.nhietDoKhoiThai %></td>
                                                <td class="text-center"><%= item.nhietDoNuoc %></td>
                                                <td class="text-center"><%= item.apSuatHoi %></td>
                                                <td class="text-center"><%= item.chanKhongBuongDot %></td>
                                                <td class="text-center"><%= item.buongDot_TS1 %></td>
                                                <td class="text-center"><%= item.buongDot_TS2 %></td>
                                                <td class="text-center"><%= item.apSuatGio %></td>
                                              </tr>
                                        <% }) %>
                                          
                                          
                                    </tbody>
                                  </table>
                                  </div>
                        </div>
                       
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <figure class="">
                                    <div id="chart2" name="chart2"></div>
                                </figure>
                            </div>
                            <div class="col-md-6">
                                <figure class="">
                                    <div id="chart3" name="chart3"></div>
                                </figure>
                            </div>
                          
                        </div>
                      
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <figure class="">
                                    <div id="chart4" name="chart4"></div>
                                </figure>
                            </div>
                            <div class="col-md-6">
                                <figure class="">
                                    <div id="chart5" name="chart5"></div>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <figure class="">
                            <div id="chart1" name="chart1"></div>
                        </figure>
                    </div>
            
                </div>
            </div>
        </div>
        
    </div>


   

    <figure class="">
        <div id="chart6" name="chart6"></div>
    </figure>

    <figure class="">
        <div id="chart7" name="chart7"></div>
    </figure>
</body>
<script>
    let dateTime = ['<%= dateTime %>'];
    let arrDateTime = dateTime[0].split(',')
    let nhietDoKhoiThai = [<%= nhietDoKhoiThai %>];
    let nhietDoNuoc = [<%= nhietDoNuoc %>];
    let apSuatHoi = [<%= apSuatHoi %>];
    let chanKhongBuongDot = [<%= chanKhongBuongDot %>];
    let buongDot_TS1 = [<%= buongDot_TS1 %>];
    let buongDot_TS2 = [<%= buongDot_TS2 %>];
    let apSuatGio = [<%= apSuatGio %>];
    let sumNhietDoKhoiThai = <%= sumNhietDoKhoiThai %>;
    let sumNhietDoNuoc = <%= sumNhietDoNuoc %>;
    let sumApSuatHoi = <%= sumApSuatHoi %>;
</script>
<script src="js/chart/chart.js"></script>

<style>
    .highcharts-figure, .highcharts-data-table table {
    min-width: 360px; 
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
table thead th {
    position: sticky;
    top:0;
    z-index: 9;
}
.table-responsive::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.table-responsive::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #cccccc96;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.table-responsive::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 5px; 
     border-radius: 5px; 
}
</style>
</html>
